<h1>This is the Node hbs file</h1>
<h2>{{email}}</h2>
<form action="/" method="post">
    <input type="text" placeholder="firstname" name="firstName">
    <input type="text" placeholder="lastname" name="lastName">
    <input type="text" placeholder="password" name="password">
<input type="email" placeholder="email" name="email">
    <button type="submit">Submit</button>


</form>